<app-header titulo="Page Radio"></app-header>

<ion-content>
    <ion-list>
        <ion-radio-group [allowEmptySelection]="true" value="turtles">
          <ion-item>
            <ion-label>5 A</ion-label>
            <ion-radio slot="end" value="dogs"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>5 B</ion-label>
            <ion-radio slot="end" value="cats"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>5 C</ion-label>
            <ion-radio slot="end" value="turtles"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>5 C</ion-label>
            <ion-radio slot="end" value="fish"></ion-radio>
          </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>
